p.intro {
    font-size: 1.8em;
    line-height: 2em;
}

.content h1 {
    font-size: min(3em, 7vh);
    font-style: oblique;
    padding: 0 0 5vh 0;
    text-transform: capitalize;
}

.quotation {
    width: 90%;
    position: relative;
    padding-left: 2vw;
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.8em;
    position: relative;
    color: gray;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 3em;
    position: absolute;
    left: -3vh;
    top: 3vh;
    color: gray;
}

blockquote cite {
    color: #999999;
    font-size: 0.6em;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

.symbol-btn {
    position: fixed;
    bottom: 25vh;
    left: 60vw;
}





h3 {
    font-size: max(2.5vh, 9pt);
    font-weight: 800;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 125px));
    grid-template-rows: auto;
    margin: 1vh 0 1vh 0;
} 

.links {
    position: relative;
    top: 9vh;
}

.links a, .label-checkbox p {
    color: black;
    margin: 1.5vh;
    font-size: min(3vh, 12pt);
    width: max-content;
}

.links a:hover {
    color: darkgreen;
}

.lists, .person-info {
    padding: 0 0 2vh 5vh;
}

.lists a {
    color: black;
    text-decoration: none;
}

.lists p, .person-info p {
    font-size: min(11pt, 2vh);
    padding: 1vh 0 1vh 0;
}

.lists a:hover {
    text-decoration: underline;
}

.remark a {
    text-decoration: none;
    color: black;
}

.remark a:hover {
    text-decoration: underline;
}


.align-box1, .align-box2 {
    display: inline-block;
    width: max-content;
    height: min-content;
    min-width: 10vh;
    padding: 0 2vh 0 1vh;
}

.align-box1 {
    border-left: 1px darkgray solid;
}


#words-in-list {
    padding-bottom: 2vh;
    position: relative;
    top: 0;
}

.words {
    margin: 3vh 0 0 0;
    width: 80%;
    position: relative;
    left: 10%;
}

.review-line {
    width: 80%;
    margin-bottom: 1vh;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: max-content minmax(6vw, max-content) auto;
    text-align: left;
}

.align-circle {
    display: inline-block;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
}

.word-box, .descp-box {
    display: inline-block;
    padding: 1vh, 1vh, 2vh, 0;
    font-size: min(12pt, 2vh);
}

.strong-p {
    font-weight: 600;
}

.descp-box {
    color: #4a4a4a;
}

.deck-name {
    font-size: min(14pt, 4vh);
    font-style: italic;
    font-weight: 500;
    color: darkgray;
}

span.large-font {
    font-size: min(20pt, 6vh);
    font-style: italic;
    font-weight: 600;
    vertical-align: baseline;
    color: darkolivegreen;
    padding: 0 1vh;
}

.center h2 {
    font-size: min(14pt, 4vh);
    color: darkgray;
    padding: 5vh 0;
}

.center {
    text-align: center;
    margin: 9vh 5vh 0 5vh;
}

.center a {
   color: darkgray; 
}

.center a:hover {
    color: black;
}

