.hidden-form {
    height: max-content;
    min-height: 50vh;
}

.hidden-form-small {
    height: max-content;
    padding: 1vh 0 2vh 0;
}

.form-jinja, .form-html {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 2vh
}

.form-title, .profile-opt, .toggle-title {
    color: darkgray;
    padding: 2vh 0 3vh 0;
    z-index: 1;
    font-size: max(2.5vh, 9pt);
    font-weight: 800;
}

h4.toggle-title {
    font-size: max(2vh, 9pt);
}

.form-jinja div, .from-html div {
    padding-bottom: 2vh;
}

.form-label {
    font-size: min(10pt, 2vh);
    width: 8vw;
    padding-right: 1vw;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

.form-input, .form-textarea, .form-select {
    width: 22vw;
    border-radius: 1vh;
    box-shadow: none;
    border: lightgray solid 1px;
    font-size: min(12pt, 2vh);
    padding: 1vh;
    margin-bottom: 1.5vh;
}

.form-multi-select {
    width: 22vw;
    font-size: min(12pt, 2vh);
    display: inline-block;
}

.form-input, .form-select {
    height: 5vh;
}

.form-textarea {
    height: 20vh;
    overflow: scroll;
}

.form-button, .form-link, .form-button-im, .form-link-left {
    height: 5vh;
    width: 22vw;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 1vh;
    font-size: min(11pt, 2vh);
    text-align: center;
}

.form-button, .form-button-im {
    background-color: black;
    color: grey;
}

.form-link a {
    display: block;
    margin: 2vh;
    color:black;
    text-decoration: none;
}

input.form-link-left {
    text-align: left;
    font-size: min(12pt, 2vh);
}


.form-button-im {
    background-color: darkred;
    width: 80%;
    margin: 5vh 0 2vh 0;
}

.form-button-im:hover {
    color: white;
}

input.form-link, input.form-link-left {
    color: black;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

a.profile-opt {
    color: darkgray;
    display: block;
    padding-bottom: 3vh;
    font-size: max(2.5vh, 9pt);
    font-weight: 800;
    text-decoration: none;
}

.form-input:focus, .form-textarea:focus {
    border: darkgreen solid 1px;
    outline: none;
}

.form-button:hover {
    color: white;
}

.form-link a:hover, input.form-link:hover, input.form-link-left:hover {
    text-decoration: underline;
}

a.profile-opt:hover, .toggle-title:hover {
    color: black;
    text-decoration: underline;
}

.profile-opt::before, .toggle-title::before, .icon::before {
    display: inline-block;
    color: darkgray;
    padding: 0 1vh 0.5vh 0;
    content: '\25B6';
    font-size: 1.5vh;
    vertical-align: middle;
}

h3.change, h4.change {
    color: black;
}

h3.change::before, h4.change::before {
    content: '\25B6';
    transform: translate(-33%, 0) rotate(90deg);
}


.form-practice {
    display: block;
    height: min-content;
    position: absolute;
    top: 65vh;
    left: 10vw;
}

.form-checkbox {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 14px;
    height: 14px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    margin-right: 1vh;
    transform: translateY(0.075em);
}

.form-checkbox:checked {
    background-color: darkgreen;
}

.form-checkbox:disabled {
    color: grey;
}

.label-checkbox p {
    font-size: min(11pt, 2vh);
    margin-right: 2vh;
    display: inline-block;
}

.label-checkbox {
    display: block;
    margin-bottom: 2vh;
}


/* two buttons in a form */
.inline {
    width: min(450px, 30vw);
}

.form-button-next, .form-button-prev {
    display: inline-block;
    margin: 3vh 0 0 0;
    padding-bottom: 1vh;
    font-size: min(14pt, 2vh);
    box-shadow: none;
    border: none;
    background-color: white;
}

.form-button-next {
    position: absolute;
    right: 0;
}

.form-button-next:hover, .form-button-prev:hover {
    text-decoration: underline;
    transform: translate(2%, 0);
}

.form-button-next::after, .form-button-prev:before {
    display: inline-block;
    padding: 0 1vh;
    font-size: min(14pt, 2vh);
}

.form-button-prev:before {
    content: '\2190';
}

.form-button-next::after {
    content: '\2192';
}



/* multi-select field customized */
.multi-opt input[type="checkbox"] {
    display: none;
}

.multi-opt label {
    display: inline-block;
    padding: 1vh 2vh;
    border: 1px solid lightgrey;
    margin: 1px 10px 1px 1px;
    border-radius: 1vh;
    cursor: pointer;
    color: grey;
    font-size: min(12pt, 2vh);
}

.multi-opt input[type="checkbox"]:checked + label {
    border: 2px solid darkgreen;
    color: black;
    margin: 0 9px 0 0;
}

.multi-opt {
    display: inline-block;
    width: max-content;
}


/* form-select */
.form-select {     
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
}

.form-select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, lightgray, lightgray);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

.form-select:focus {
    background-image:
      linear-gradient(45deg, darkgreen 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, darkgreen 50%),
      linear-gradient(to right, lightgray, lightgray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: darkgreen;
    outline: 0;
}