.links {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
    grid-template-rows: auto;
    padding-bottom: 10vh;
    position: relative;
    top: 10vh;
} 

.links a {
    color: black;
    margin: 10px;
}

.hidden-form {
    height: max-content;
    min-height: 50vh;
}

.form-jinja, .form-html {
    width: 80%;
    position: relative;
    left: 10%;
    top: 20px;
}

.form-title, h3.profile-opt, .toggle-title {
    color: darkgray;
    padding-bottom: 20px;
    z-index: 1;
    font-size: 14pt;
    font-weight: 800;
}

.form-jinja div, .from-html div {
    padding-bottom: 20px;
}

.form-label {
    font-size: 12px;
    width: 15vh;
    padding-right: 2vh;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 5px;
}

.form-input, .form-textarea {
    width: min(50vh, 80%);
    border-radius: 5px;
    box-shadow: none;
    border: lightgray solid 1px;
    font-size: 16px;
}

.form-input {
    height: 5vh;
}

.form-textarea {
    height: 20vh;
    overflow: scroll;
}

.form-button, .form-link {
    height: 5vh;
    width: 50vh;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.form-button {
    background-color: black;
    color: grey;
    margin-top: 30px;
}

.form-link a {
    display: block;
    margin: 20px;
    color:black;
    text-decoration: none;
}

input.form-link {
    color: black;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
}

a.profile-opt {
    color: darkgray;
    display: block;
    padding-bottom: 20px;
    font-size: 14pt;
    font-weight: 800;
    text-decoration: none;
}

.form-input:focus {
    border: darkgreen solid 1px;
    outline: none;
}

.form-textarea:focus {
    border: darkgreen solid 1px;
    outline: none;
}

.form-button:hover {
    color: white;
}

.form-link a:hover {
    text-decoration: underline;
}

input.form-link:hover {
    text-decoration: underline;
}

a.profile-opt:hover, .toggle-title:hover {
    color: black;
    text-decoration: underline;
}

.profile-opt:before, .toggle-title:before {
    display: inline-block;
    color: darkgray;
    padding: 0 1vh 0.5vh 0;
    content: '\25B6';
    font-size: 1.5vh;
    vertical-align: middle;
}


