<html>
    <head>
    
<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>flashcards</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-base.css') }}">
        {% block styles %}{% endblock %}
    </head>

    <body>

        <div class="title">
            
            {% block title %}{% endblock %}
        </div>

        <div class="content">
            {% block content %}{% endblock %}

            <br><br>
            {% if message %}
            <div class='message'>
                <p>{{ message }}</p></div>
            {% endif %}
        </div>

        
        <script>
            const toggleForm = (formIdArr) => {
                formIdArr.forEach(formId => {
                    if (!(formId instanceof Array)) {
                        formId = [formId, false]
                    }
                    const form = document.getElementById(formId[0]);
                    if (form.style.display === 'none' && formId[1]){
                        form.style.display = 'grid'
                    } else if (form.style.display === 'none' && !formId[1]) {
                        form.style.display = 'block'
                    } else {
                        form.style.display = 'none'
                    }
                })
            }

            const goBack = () => {
                window.history.back();
            }
            const iconTransform = (x, id=None) => {
                x.classList.toggle('change');
                if(id) {
                    toggleForm(id)
                }
            }
        </script>
        {% block script %}{% endblock %}
        
    </body>
</html>