{% extends "_base.html" %}

{% block content %}
<h1>Add New Vocabulary</h1>

{% if current_user.is_authenticated %}
<h3>Hi {{ user.username }}</h3>
<nav>
    <a href='/user/{{ user.username }}'>Home</a>
    <a href='/logout'>Log out</a>
</nav>
{% else %}
<h3>Hi Guest, create your new flashcard here!</h3>
{% endif %}


<form action="/user/{{ user.username }}/add-card", method ='post'>
    {{ form.hidden_tag() }}

    <p>
        {{ form.word.label }}<br>
        {{ form.word(size = 64) }}<br>
        {% for error in form.word.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size = 128) }}<br>
        {% for error in form.description.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    {% if current_user.is_authenticated and current_user.lists %}
    <p>
        {{ form.addToList.label }}<br>
        {{ form.addToList() }}<br>
    </p>
    {% endif %}
    <p>
        {{ form.submit() }}
    </p>
    
    
</form>

{% endblock %}