{% extends "base.html" %}

{% block content %}

<h1>Bulk Edit | {{ action }} {{ lst.listname }} </h1>
<br><br>

<nav>
    <a 
    {% if current_user.is_authenticated %} href="/user/{{ user.username }}/lists/{{ lst.id }}"
    {% else %} href="/guest/lists/{{ lst.id }}"
    {% endif %}>Back to {{ lst.listname }}</a>
</nav>

{% if words_dict | length > 0 %}
<form method="POST" 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards/bulk/{{ lst.id }}"
{% else %} action="/guest/flashcards/bulk/{{ lst.id }}"
{% endif %}>

    {% for key, words in words_dict.items() %}
    {% if words | length > 0 %}
    <h4>{{ key }}</h4>
    {% for word in words %}
    <input type="checkbox" name="word_id" 
    {% if current_user.is_authenticated %} value="{{ word.id }}"
    {% else %} value="{{ word.word }}"
    {% endif %}>
    <label for="{{ word.word }}">{{ word.word }}</label>
    {% endfor %}
    {% endif %}
    {% endfor %}
    <br><br>
    <input type="hidden" name="databaseAction" value="{{ action }}"><br>
    <input type="submit" value="{{ action }} {{ lst.listname}}">

</form>
{% else %}
<h5>There is no more word that can be added to {{ lst.listname }}</h5>
{% endif %}

<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    function handleCheckboxChange(event) {
        const { name, value, checked } = event.target;
  
        checkboxes.forEach(checkbox => {
            if (checkbox.name === name && checkbox.value === value && checkbox !== event.target) {
            checkbox.disabled = checked;
            }
        });
    }

    checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', handleCheckboxChange);
    });

</script>
{% endblock %}