{% extends "base.html" %}

{% block content %}

<h1>Bulk Edit | {{ action }} {{ lst.listname }} </h1>

<nav>
    <a href="/user/{{ user.username }}/lists/{{ lst.id }}">Back to {{ lst.listname }}</a>
</nav>

<form method="POST" action="/user/{{ user.username }}/flashcards/bulk/{{ lst.id }}">
    {{ formBulk.hidden_tag() }}

    {% for field in formBulk %}
    {% if field.type == 'BooleanField' %}
    <div>
        {{ field }}
        <label for="{{ field.id }}">{{ field.label }}</label>
    </div>
    {% endif %}
    {% endfor %}
    
    {% if action == 'add to' %}
    <p> {{ formBulk.add() }}</p>
    {% elif action == 'remove from' %}
    <p> {{ formBulk.remove() }}</p>
    {% endif %}

</form>

{% endblock %}