{% extends "_menu.html" %}

{% block styles2 %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-forms.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-general.css') }}">

{% endblock %}

{% block title2 %}
<h1>All Flashcards</h1>
{% endblock %}


{% block content2 %}
<div class="hidden-form">
    <h3 class='toggle-title' id="toggle-card" onclick="iconTransform(this, 'add-card')">Add a new Flashcard</h3>
    <form id="add-card" class="form-jinja"
    {% if not display %} style="display:none" {% endif %} 
    {% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards"
    {% else %} action="/guest/flashcards"
    {% endif %} method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.word.label(class='form-label') }}
            {{ form.word(class='form-input') }}
            {% for error in form.word.errors %}
            <br>
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label(class='form-label') }}
            {{ form.description(class='form-textarea') }}
            {% for error in form.description.errors %}
            <br>
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <label class="form-label">Add to List(s)</label>
            <div class="form-multi-select">
                {% for l in user.lists %}
                <div class="multi-opt">
                    <input type="checkbox" name='list' id='{{ l.listname }}' value="{{ l.id }}"
                    {% if not user.is_authenticated and l.listname == 'default' %} checked {% endif %}>
                    <label for="{{ l.listname }}">{{ l.listname }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <p class="form-label"></p>
            {{ form.submit(class='form-button') }}
        </div>
    </form>
</div>

<!--each flashcard-->
<div class="links">
    {% for w in words %}
    <a
    {% if current_user.is_authenticated %} href="/user/{{ user.username }}/flashcards/{{ w.id }}"
    {% else %} href="/guest/flashcards/{{ w.word }}"
    {% endif %}>{{ w.word }}</a>
    {% endfor %}
</div>

{% endblock %}