{% extends "_toggle.html" %}

{% block toggle %}
<h1>All Flashcards</h1>

<nav>
    {% if current_user.is_authenticated %}
    <a href="/user/{{ user.username }}">Home</a>
    {% else %}
    <a href="/guest">Home</a>
    {% endif %}
</nav>

<!-- <a href='/user/{{ user.username }}/flashcards/add'><h3>Add a new Flashcard</h3></a> -->
<h3 id="toggle-form">Add a new Flashcard</h3>
<form id="add-card" 
{% if not display %} style="display:none" {% endif %} 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards"
{% else %} action="/guest/flashcards"
{% endif %} method="POST" >
    {{ form.hidden_tag() }}
    <p>
        {{ form.word.label }}<br>
        {{ form.word(size = 64) }}<br>
        {% for error in form.word.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size = 128) }}<br>
        {% for error in form.description.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.addToList.label }}<br>
        {{ form.addToList() }}<br>
    </p>
    <p>
        {{ form.submit() }}
    </p>

</form>



<!--each flashcard-->
{% for w in words %}
<a 
{% if current_user.is_authenticated %} href="/user/{{ user.username }}/flashcards/{{ w.id }}"
{% else %} href="/guest/flashcards/{{ w.word }}"
{% endif %}>{{ w.word }}</a><br>
{% endfor %}



<script>
    document.getElementById('toggle-form').addEventListener('click', () => {
        toggleForm('add-card');
    })
</script>


{% endblock %}