{% extends "_base.html" %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-home.css') }}">
{% endblock %}


{% block title %}
<h1>Welcome to Flashcards</h1>
{% endblock %}


{% block content %}

<div class="quotation">
    <blockquote>Flashcards are one of the many methods students have traditionally utilized to help themselves learn 
    new vocabulary. It allows them to repeatedly quiz themselves and built a base on which they can build 
    their higher levels of learning.
    <cite>Harvard Wiki</cite></blockquote>
</div>


<a class='symbol-btn' href="/register">Go To App</a>

{% endblock %}