{% extends '_toggle.html' %}
{% block toggle %}

<h1>Vocabulary List - {{ lst.listname }}</h1>

<nav>
    <a 
    {% if current_user.is_authenticated %} href="/user/{{ user.username }}/setting"
    {% else %} href="/guest/setting"
    {% endif %}>Setting</a>

    <form method="POST" 
    {% if current_user.is_authenticated %} action="/user/{{ user.username }}/practice/start?list={{ lst. id }}"
    {% else %} action="/guest/practice/start?list={{ lst.id }}"
    {% endif %}>
        <input type="hidden" name="list" value="{{ lst.id }}">
        <input type="submit" value="practice list {{ lst.listname }}">
    </form>
</nav><br><br>


<button id="toggle-form">A new name for the list?</button>
<form id="change-list-name" style="display: none" method="POST" 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/lists/{{ lst.id }}"
{% else %} action="/guest/lists/{{ lst.id }}"
{% endif %}>
    {{ form.hidden_tag() }}
    <p>
        {{ form.listname.label }}
        {{ form.listname(size=32, value = lst.listname)}}
    </p>
    <p> {{ form.submit() }} </p>
</form>


{% if not current_user.is_authenticated and lst.listname != 'default' %}
<form id="delete-list" style="display:none" method="POST" 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/lists/delete/{{ lst.id }}"
{% else %} action="/guest/lists/delete/{{ lst.id }}"
{% endif %}>
    {% if lst.words | length > 0 %}
    <input type="checkbox" name="delete-all">
    <label for="delete-all">Delete all words in this list</label>
    {% endif %}
    <input type="submit" value="Delete List">
</form>
{% endif %}

<br><br>
<h3>Add Flashcards</h3>
<button id="add-word">Create a new Flashcard to {{ lst.listname }}</button>
<form id="new-flashcard" style="display: none;" method="POST" 
{% if current_user.is_authenticated %} action='/user/{{ user.username }}/flashcards'
{% else %} action="/guest/flashcards"
{% endif %}>
    <input type="hidden" name="lst_id" value="{{ lst.id }}">
    {{ formCard.hidden_tag() }}
    <p>
        {{ formCard.word.label }}<br>
        {{ formCard.word(size = 64) }}<br>
        {% for error in formCard.word.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ formCard.description.label }}<br>
        {{ formCard.description(size = 128) }}<br>
        {% for error in formCard.description.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <div>
        <label class="form-label">Add to List(s)</label>
        <div class="form-multi-select">
            {% for l in user.lists %}
            <div class="multi-opt">
                <input type="checkbox" name='list' id='{{ l.listname }}' value="{{ l.id }}"
                {% if l.listname == lst.listname %} checked {% endif %}>
                <label for="{{ l.listname }}">{{ l.listname }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <p>
        {{ formCard.submit() }}

</form>

<br>
<form method="POST" 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards/bulk/{{ lst.id }}"
{% else %} action="/guest/flashcards/bulk/{{ lst.id }}"
{% endif %}>
    <input type="hidden" name="action" value="add to">
    <input type="submit" value="Add existing flashcars to {{ lst.listname }}">
</form>
<!-- <a href="/user/{{ user.username }}/flashcards/bulk/{{ lst.id }}">Add existing flashcars to {{ lst.listname }} </a> -->



<h3>Words in {{ lst.listname }}</h3>

<div>
{% for w in words %}
<a 
{% if current_user.is_authenticated %} href="/user/{{ user.username }}/flashcards/{{ w.id }}?list={{ lst.id }}"
{% else %} href="/guest/flashcards/{{ w.word }}?list={{ lst.id }}"
{% endif %}>{{ w.word }}</a>
{% endfor %}
</div>


<form id="bulk-remove" method="POST" 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards/bulk/{{ lst.id }}"
{% else %} action="/guest/flashcards/bulk/{{ lst.id }}"
{% endif %}>
    <input type="hidden" name="action" value="remove from">
    <input type="submit" value="Remove flashcards from {{ lst.listname }}">
</form>



<script>
    document.getElementById('toggle-form').addEventListener('click', () => {
        toggleForm('change-list-name');
        toggleForm('delete-list');
    })
    document.getElementById('add-word').addEventListener('click', ()=>{
        toggleForm('new-flashcard');
    })
    // document.getElementById('remove').addEventListener('click', ()=>{
    //     toggleForm('bulk-remove');
    //     toggleForm('cards-link');
    // })
</script>


{% endblock %}