{% extends "_base.html" %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-forms.css') }}">
{% endblock %}


{% block title %}
    <h1>Login</h1>   
{% endblock %}


{% block content %}
<h3 class="form-title">Login</h3>
<form class='form-jinja' action="/login", method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label(class='form-label') }}<br>
        {{ form.username(class='form-input') }}
        {% for error in form.username.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label(class='form-label') }}<br>
        {{ form.password(class='form-input') }}
        {% for error in form.password.errors %}
        <br>
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit(class='form-button') }}
    </div>
    <div class="form-link">
        <a href="/register">Register</a>
        <a href="/guest">Explore App without an Account</a>
    </div>

</form>


{% endblock %}