{% extends "_base.html" %}

{% block content %}

<h1>Practice Continue</h1>

<nav>
    <a 
    {% if current_user.is_authenticated %} href="/user/{{ user.username }}"
    {% else %} href="/guest"
    {% endif %}>Home</a>
</nav>

<p> Seems that your list does not have enough words, select another list and continue?</p><br>

<form method="POST"
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/practice/start"
{% else %} action="/guest/practice/start"
{% endif %}>

    <label for="list">Select a list</label>
    <select id="list" name="list">
        {% for list in user.lists %}
        {% if list.id not in session['list_in_practice_id'] %}
        <option value="{{ list.id }}">{{ list.listname }} has {{ list.words | length }} flashcards</option>
        {% endif %}
        {% endfor %}
        <option value="all" selected>All</option>
    </select><br><br>

    <input type="submit" value="Practice">
</form>

{% endblock %}