{% extends "base.html" %}

{% block content %}

<h1>Practice Continue</h1>

<nav>
    {% if current_user.is_authenticated %}
    <a href="/user/{{ user.username }}">Home</a>
    {% else %}
    <a href="/home">Home</a>
    {% endif %}
</nav>

<p> Seems that your list does not have enough words, select another list and continue?</p><br>

<form action="/user/{{ user.username }}/practice/start" method="POST">

    <label for="list">Select a list</label>
    <select id="list" name="list">
        {% for list in user.lists %}
        {% if list.id not in session['list_in_practice_id'] %}
        <option value="{{ list.id }}">{{ list.listname }} has {{ list.words | length }} flashcards</option>
        {% endif %}
        {% endfor %}
        <option value="all" selected>All</option>
    </select><br><br>

    <input type="submit" value="Practice">
</form>

{% endblock %}