{% extends "base.html" %}

{% block content %}
<h1>Practice</h1>

<nav>
    {% if current_user.is_authenticated %}
    <a href="/user/{{ user.username }}">Home</a>
    {% else %}
    <a href="/home">Home</a>
    {% endif %}
</nav>

{% if cur_word %}
<h3>{{ cur_word.word }}</h3>
<p>{{ cur_word.description }}</p>
<p>[{{ cur_word.priority }}]</p>
{% else %}
<p>no word</p>
{% endif %}


<form action="/user/{{ user.username }}/word-priority", method="POST">
    <input type="hidden", name="word_id", value="{{ cur_word.id }}">
    <input type="hidden", name="cur_index", value="{{ cur_word_idx }}">
    <button type="submit" name="action" value="not_remember">Do not have a clue</button>
    <button type="submit" name="action" value="remember">I got this</button>
</form>

{% endblock %}