{% extends "base.html" %}

{% block content %}
<h1>{{ user.username }}'s Homepage</h1>

<p> {{ user.email }}</p>

<nav>
    <a href="/user/{{ user.username }}/setting">Setting</a>
    <a href="/user/{{ user.username }}/flashcards">Create new flashcards</a>
    <a href="/logout">Log Out</a>
</nav><br><br>

<form action="/user/{{ user.username }}/practice/start" method="POST">
    <label for="goal">Goal</label>
    
    {% if user.words | length >= 7 %}
    <input type="number" id='goal' name="goal" value="7" min="1" max="{{ user.words | length }}">
    {% else %}
    <input type="number" id='goal' name="goal" value="{{ user.words | length }}" min="1" max="{{ user.words | length }}">
    {% endif %}
    <br><br>

    <label for="list">Select a list</label>
    <select id="list" name="list">
        {% for list in user.lists %}
        <option value="{{ list.id }}">{{ list.listname }} has {{ list.words | length }} flashcards</option>
        {% endfor %}
        <option value="all" selected>All</option>
    </select><br><br>

    <input type="submit" value="Practice">
</form>


{% endblock %}