{% extends "_menu.html" %}


{% block styles2 %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-forms.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content-general.css') }}">

{% endblock %}


{% block title2 %}
<h1>Profile</h1>
{% endblock %}



{% block content2 %}
<h1>Hello
    {% if current_user.is_authenticated %}, {{ user.username }} {% endif %}
</h1><br>

{% if not current_user.is_authenticated %}
<div class="remark">
    <h4>Please noted:</h4>
    <p>You are exploring this app as a guest.<br>
        Some flashcards have been added for you. <br>
        you can add, update, and practice with your flashcards and decks. <br>
        But your interaction with the app will not be saved. 
    </p><br>
</div>
{% endif %}


<h3>You now have in total <span class="large-font">
    {% if current_user.is_authenticated %} {{ current_user.completeNum }}
    {% else %} {{ session.get('completeNum') }}
    {% endif %} </span> 
    sessions completed.</h3><br>

<a class="profile-opt"
{% if current_user.is_authenticated %} href='/user/{{ user.username }}/flashcards'
{% else %} href="/guest/flashcards"
{% endif %}>There are {{ user.words | length }} flashcards in total</a><br>

<div class="hidden-form">
    <h3 class='toggle-title change' id="toggle-form" onclick="iconTransform(this, ['form-practice'])">Practice</h3>
    <form class="form-jinja" id="form-practice" 
    {% if current_user.is_authenticated %} action="/user/{{ user.username }}/practice/start"
    {% else %} action="/guest/practice/start"
    {% endif %}
    method="POST">
        <div>
            <label class='form-label' for="goal">Goal</label>
            <input class="form-input" type="number" id='goal' name="goal" min="1" max="{{ user.words | length }}" 
            value="{{ 7 if user.words | length >= 7 else user.words | length }}">
        </div>
        <div>
            <label class='form-label' for="list">Select a list</label>
            <select class='form-select' id="list" name="list">
                {% for list in user.lists %}
                <option value="{{ list.id }}">{{ list.listname }} - {{ list.words | length }} flashcards</option>
                {% endfor %}
                <option value="all" selected>All</option>
            </select>
        </div>
        <div>
            <p class="form-label"></p>
            <input class="form-button" type="submit" value="Start Practice">
        </div>
    </form>
</div>


{% endblock %}