{% extends "base.html" %}

{% block content %}

<h1>{{ user.username }}'s Setting</h1>

<nav><a 
    {% if current_user.is_authenticated %} href="/user/{{ user.username }}"
    {% else %} href = '/guest'
    {% endif %}
    >Back</a></nav>


<h2>Overview</h2>

<!-- list -->
<h3>My lists</h3>
{% if user.lists | length > 0 %}
{% for l in user.lists %}
<p>
    <a 
    {% if current_user.is_authenticated %} href="/user/{{ user.username }}/lists/{{ l.id }}"
    {% else %} href="/guest/lists/{{ l.id }}"
    {% endif %}
    >{{ l.listname }}</a>
    &emsp; has {{ l.words | length }} words
</p>
{% endfor %}
{% else %}
<p>You have no list yet. Create one with form below</p>
{% endif %}
<br>


<form id='list' 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/setting"
{% else %} action="/guest/setting"
{% endif %}
method='POST'>

    {{ formList.hidden_tag() }}
    <input type="hidden" name="form_id" value="list">
    <p>
        {{ formList.listname.label }}<br>
        {{ formList.listname(size=32) }}<br>
        {% for error in formList.listname.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ formList.submit() }}
    </p>
</form>
<br><br>


<h3>I have {{ user.words | length }} flashcards. </h3>


<a 
{% if current_user.is_authenticated %} href="/user/{{ user.username }}/flashcards"
{% else %} href="/guest/flashcards" 
{% endif %}
>See all my flashcards</a>


{% endblock %}