{% extends '_toggle.html' %}

{% block toggle %}

<h1>Flashcard</h1>

<nav>
    {% if current_user.is_authenticated %}
    <a 
    {% if lst_idx %} href="/user/{{ user.username }}/lists/{{ lst_idx }}"
    {% else %} href="/user/{{ user.username }}/flashcards"
    {% endif %}>Back</a>
    {% else %}
    <a 
    {% if lst_idx %} href="/guest/lists/{{ lst_idx }}"
    {% else %} href="/guest/flashcards"
    {% endif %}>Back</a>
    {% endif %}
</nav>

<div id="toggle-word">
    <h1 id="word">{{ word.word }}</h1><br>
    <p>Meaning:</p>
    <p id="meaning">{{ word.description }}</p><br>
    <p> In lists:
        {% for l in word.lists %}
        {{ l.listname }} 
        {% endfor %}
    </p>
</div>


<button id="toggle-form">Edit flashcard</button>
<form style="display:none", id="edit-flashcard", method="POST", 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards/{{ word.id }}"
{% else %} action="/guest/flashcards/{{ word.word }}"
{% endif %}>
    {{ form.hidden_tag() }}
    {% if lst_idx %}
    <input type="hidden", name="lst_id", value="{{ lst_idx }}">
    {% endif %}

    <p>
        {{ form.word.label }}<br>
        {{ form.word(size = 64, value = word.word) }}
        {% for error in form.word.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> 
        {{ form.description.label }}<br>
        {{ form.description(size=64, value = word.description) }}
        {% for error in form.description.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.Inlists.label }}<br>
        {{ form.Inlists() }}
        {% for error in form.Inlists.errors %}
        <span style="color:red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> {{ form.submit() }}</p>
</form>


<form style="display: none", id="delete-flashcard", method='POST', 
{% if current_user.is_authenticated %} action="/user/{{ user.username }}/flashcards/delete/{{ word.id }}"
{% else %} action="/guest/flashcards/delete/{{ word.word }}"
{% endif %}>
    {% if request.args.get('list') %}
    <input type="hidden", name="lst_id", value="{{ request.args.get('list') }}">
    {% endif %}
    <input type="submit", value="Delete Flashcard">
</form>

<script>
    document.getElementById('toggle-form').addEventListener('click', () => {
        toggleForm('edit-flashcard');
        toggleForm('delete-flashcard');
    })
    // document.getElementById('toggle-word').addEventListener('click', ()=>{
    //     toggleForm('meaning');
    //     toggleForm('word')
    // })

</script>

{% endblock %}