{% extends '_toggle.html' %}

{% block toggle %}
<h1>Flashcard - {{ word.word }}</h1>
<nav>
    {% if request.args.get('list') %}
    <a href="/user/{{ user.username }}/setting/lists/{{ request.args.get('list') }}">Back</a>
    {% elif lst_idx %}
    <a href="/user/{{ user.username }}/setting/lists/{{ lst_idx }}">Back</a>
    {% else %}
    <a href="/user/{{ user.username }}/setting">Back</a>
    {% endif %}
</nav>

<p>Meaning: {{ word.description }}</p>

<button id="toggle-form">Edit flashcard</button>
<form style="display:none", id="edit-flashcard", method="POST", action="/user/{{ user.username }}/setting/flashcards/{{ word.id }}?list={{request.args.get('list')}}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.word.label }}<br>
        {{ form.word(size = 64, value = word.word) }}
    </p>
    <p> 
        {{ form.description.label }}<br>
        {{ form.description(size=64, value = word.description) }}
    </p>
    <p> {{ form.submit() }}</p>
</form>

<form style="display: none", id="delete-flashcard", method='POST', action="/user/{{ user.username }}/setting/flashcards/delete/{{ word.id }}">
    <input type="hidden", name="lst_id", value="{{ request.args.get('list') or lst_idx }}">
    <input type="submit", value="Delete">
</form>




<script>
    document.getElementById('toggle-form').addEventListener('click', () => {
        toggleForm('edit-flashcard');
        toggleForm('delete-flashcard');
    })

    
</script>
{% endblock %}